body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*===========================Custom=========================*/
.ui-dialog {
    z-index: 99999999 !important;
}

.tb_title {
    font-weight: bold;
    padding: 8px 0px 2px 0px;
    min-height: 16px;
    line-height: 14px;
    font-size: 11pt !important;
}

.req {
    color: red;
    font-weight: bold;
    padding-left: 2px;
    font-size: 11pt !important;
}
/*Menu*/
.input_with_menu {
    margin-left: 40px;
}

#jqxLoader {
    z-index: 99999999999999999999999;
}

/*Validation Massage*/
.field-validation-error {
    font-size:11px;
    color:red;
}