@using Burk.Model.Resources;
@{
    ViewBag.Title = Resource.Settings;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="input_with_menu">
    @Html.Hidden("SystemId", Session["SystemId"])
    @Html.Hidden("DossierId", Session["DossierId"])
    <h2>@(ViewBag.Title + (Session["DossierName"] == null ? string.Empty : "(" + Session["DossierName"].ToString() + ")"))</h2>

    @if (Session["DossierId"] != null)
    {
        <script src="~/Scripts/custom/SystemSettings/InsetSettings.js" type="text/javascript"></script>
        <div id='jqxMenuInset'></div>
        <div id="addEditInsetDialog"></div>
    }
    <div style="height:20px"></div>
</div>
