@using Burk.Model.Resources;
@{
    ViewBag.Title = @Resource.Systems;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/custom/System/UserSystems.js"></script>

<script type="text/javascript">
    var URLGrid = "@Url.Action("GetListSystems")";
</script>

<h2>@ViewBag.Title</h2>

<div style="height:20px"></div>
<input id="createBtn" type="button" class="btn btn-primary btn-sm" onclick="AddEdit()" value="@Resource.CreateNewSystem"/>
<div id="addEditDialog"></div>
<div id="SuccessDeletedDiv"></div>
<div id="jqxgrid" />
<div></div>
