
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/custom/Work/Index.js" type="text/javascript"></script>

<div class="input_with_menu">
    @Html.Hidden("SystemId", Session["SystemId"])
    @Html.Hidden("DossierId", Session["DossierId"])
    @*@Html.Hidden("DossierInsetId", Session["DossierInsetId"])*@
    @Html.Hidden("IsWork", Session["IsWorkMenu"])
    <h2>@(Session["DossierName"] == null ? ViewBag.Title : Session["DossierName"].ToString())</h2>


    <div style="height:20px"></div>
</div>

